
@import "~bootstrap/scss/functions";

$grid-breakpoints: (
        xs: 0,
        sm: 70px,
        md: 850px,
        lg: 1153px
);
$container-max-widths: (
        md: 840px,
        lg: 1104px
);
@import "~bootstrap";