table.updater {
    border: black 1px solid;
}

td.updater-cell {
    background-color: rgba(78,76,78,0.61);
    border-radius: 20px;
    padding: 10px;
    vertical-align: center;
    text-align: center;
}
td.updater-header {
    background-color: rgba(40,40,40,0.61);
}



.submit {
    margin-top: 10px;
    background-color: rgba(40,40,40,0.61);
    border-radius: 10px;
    border: black 5px solid;
    color: antiquewhite;
}


input.updater-input {
    width: 70px;
}
select {
    width: 70px;
}
.empty {
    width: 0;
    height: 0;
    border: none;
}