table.content-table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    border-collapse: collapse;
}
#shoot-table {
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
}
td.header-row {
    background: linear-gradient(to bottom, #999966 0%, #996633 100%);
    border-color: gray;
    border-style: ridge;
    border-width: 10px;
}
td.general-row {
    width: auto;
    background: linear-gradient(to bottom, #ffcc99 0%, #ffff99 100%);
    border-color: gray;
    border-style: ridge;
    border-left-width: 10px;
    border-right-width: 10px;
}
td.ending-row {
    border-bottom-width: 10px;
}
td.margin {
    width: 1%;
}
#shoot-table {
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
}
tr.shoot-row {
    border: 1px solid black;
}
#graph {
    border: 1px solid black;
    margin: 10px;
}
div.canvas {
    /* width: 50%; */
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}
#result {
    display: block;
    margin: 0 auto;
    width: 100%;
}
h2.generic-header {
    font: bold fantasy;
    font-size: large;
    color: cornsilk;
    text-align: center;
}