table.header-table {
    margin-left: auto;
    margin-right: 0;
    height: auto;
}
#header {
    /* background-color: darkslateblue; */
    text-align: right;
    position: relative;
    float: right;
}
#header::before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: opacity 1s;
    background: linear-gradient(90deg, rgba(72,61,139,1) 0%, rgba(22,116,135,1) 100%);
    opacity: 0;
}
#header:hover::before {
    opacity: 1;
}
#header:hover {
    background-color: rgba(0, 0, 0, 0);
}
.header-text {
    color: cadetblue;
    font: italic 20pt fantasy;
}
.header-text::first-line {
    color: red;
}
#header-image {
    width: auto;
    height: 125px;
}
img.contact-image {
    height: 50px;
    width: auto;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}
  
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 70%;
}