table.response-table {
    width: 100%;
}
table.result-table {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: darkgray;
}
table.history-table {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: lightseagreen;
}
td.response-cell {
    vertical-align: top;
    width: 50%;
}
td.content {
    border: 1px solid black;
}
.scream {
    font-size: x-large;
    color: red;
    text-align: center;
}
.clear-history {
    text-align: center;
}
.clear-history-button {
    background-color: lightseagreen;
    align-self: center;
}
h2.response-header {
    font: bold fantasy;
    font-size: large;
    color: chocolate;
    text-align: center;
}
img.result-image {
    width: 100%;
}