body {
    background-image: url("https://64.media.tumblr.com/88a77a6e025bd356fbb23b1c2c469514/9b70497cc2682c30-7f/s640x960/159560ce36deaefe3a39720fadbb530762620ecf.gifv");
    background-repeat: no-repeat;
    background-size: cover;
}
table.content-table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background: linear-gradient(to bottom, #ffcc99 0%, #ffff99 100%);
    background-clip: content-box;
}

table.main-table {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
table.header-table {
    margin-left: auto;
    margin-right: 0;
    height: auto;
}
th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
#shoot-table {
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
}
#header {
    background-color: darkslateblue;
    color: cadetblue;
    font: italic 20pt fantasy;
    text-align: right;
    float: right;
}
#header-image {
    width: auto;
    height: 125px;
}
img.contact-image {
    height: 50px;
    width: auto;
}
td.side-cell {
    vertical-align: top;
    width: 20%;
    padding-top: 1%;
}
td.center-cell {
    width: 60%;
    padding-bottom: 5%;
    padding-top: 3%;
    font-size: medium;
}
td.graph-cell {
    padding-left: 30%;
    padding-right: 30%;
}
#tooltip {
    display: none;
    font-size: medium;
}
#src-link:hover #tooltip {
    display: block;
}
#graph {
    width: 100px;
    height: 100px;
}
#result {
    display: block;
    margin: 0 auto;
    width: auto;
}
h2.generic-header {
    font: bold fantasy;
    font-size: large;
    color: cornsilk;
    background: linear-gradient(to bottom, #999966 0%, #996633 100%);
    border-color: gray;
    border-style: ridge;
    text-align: center;
}