/* COORD CHOOSER */
div.coord-chooser {
    margin-left: auto;
    margin-right: 10px;
    /* width: 60%;
    height: 100%; */
}

#shoot-table {
    border-spacing: 5px;
}
[class*='coord-cell'] {
    background-color: rgba(50, 50, 50, 0.9);
    color: aliceblue;
    text-align: center;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
}

.message-coord-cell {
    padding: 5px;
}
.button-coord-cell {
    background-color: transparent;
    border-width: 0;
}
tr.message-row>td {
    padding-top: 10px;
    padding-bottom: 20px;
}
.shoot-button {
    background-color: cyan;
    border-radius: 5px;
    font-size: large;
    font-family: sans-serif;
    color: darkmagenta;
}
.link-input {
    color: aqua;
    margin-left: 5px;
    margin-right: 5px;
}
.text-input {
    background-color: azure;
    border-color: rgba(50, 50, 50, 0.9);
}
.text-input::placeholder {
    font-style: italic;
}
.radio-input input[type=radio]{
    margin-left: 5px;
}
.radio-input label {
    margin-right: 5px;
}
/* custom radio-input */
.radio-input input[type=radio]:after {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.radio-input input[type=radio]:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    left: -1px;
    position: relative;
    background-color: blueviolet;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.placeholder {
    width: 200px;
    margin-bottom: -5px;
}

/* GRAPH */
.graph {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
#graph {
    width: 400px;
    height: 400px;
}

/* RESULT */
div.result {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
#result {
    width: 1000px;
    height: 100px;
    border: none;
}

/* UPDATER */
div.updater {
    margin-left: auto;
    margin-right: auto;
    font: bold 16px SansSerif;
    color: cadetblue;
    padding: 10px;
}

#updater {
    width: 600px;
    height: 200px;
    border: none;
}