body {
    background-image: url('../../static/img/back.jpg');
    background-repeat: repeat;
}
table.main-table {
    width: 100%;
    height: 100%;
}
col.left {
    /* background-color: aqua; */
    width: 30%;
}
col.middle {
    /* background-color: burlywood; */
    width: 40%;
}
col.right {
    /* background-color: darkorchid; */
    width: 30%;
}

tr.header-row {
    height: 20vh;
}
tr.content-row {
    height: 35vh;
}

div.blob {
    background-color: rgba(128, 128, 128, 0.9);
    border-color: darkorchid;
    border-width: 7px;
    border-style: ridge;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    transition: transform 0.5s ease-in-out;
}
div.blob:hover {
    transform: scale(1.02);
}

/*th, td {*/
/*    border: 1px solid white;*/
/*    border-collapse: collapse;*/
/*}*/